.div_one img{
    width: 160px; 
    height: fit-content;
}

#product_main{
    display: grid;
    grid-template-columns: repeat(3,auto);
    
    gap: 10px;
    background-color:white;
}
#mainDiv{
    display:flex;
    width:100%;
}

.sidebar {
    width:20%;
    height: 100%;
    width: 230px;
    background-color: white;
    /* overflow-y: scroll; */
    /* position: fixed; */
  
  }

  .sidebar__categories {
    /* border: 2px solid red; */
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
    margin-top: 15px; 
  }
  
  .sidebar__category {
    display: flex;
    align-items: center;
    padding: 12px 25px;
    /* border: 2px solid red; */
  }
  
  .sidebar__category span {
    margin-left: 15px;
  }
  
  .sidebar__category:hover {
    background: #e5e5e5;
    cursor: pointer;
  }
  
  .sidebar::-webkit-scrollbar {
    display: none;
  }
#productDiv{
 
    width:70%;
  
}
#nav_bar{
    /* padding-top: 1%; */
    height: 60px;
    width: 100%;
  
    display: flex;
    
    background-color: white;
    /* color: white; */
}
.material-icons {
    padding-top:1.5%;
    padding-left: 2%;
   
    font-size: 30px;
  }

#nav_bar input{
    width: 33%;
    height: 25px;


}
#youtube_logo{
    width:160px;
    height:60px;
    margin-right:10px ;
   margin-right: 10%;
    display:flex;
   /* border:1px solid red; */

}

#new_post{
  padding-top: 5px;
   
    
}
#new_plus{
    padding:6px;
}
.search_btn{
/*   
    color:rgb(23,21,68); */
    height:20px;
    width:33px;
    /* padding-top: 2%; */
    text-align: center;
    padding-top: 18px;
    margin-left: -35px;
    /* margin-right: 10%; */
}
#search_input{
    margin-top:1%;
   
}
.voice{
    margin-top: 15px;
    margin-left: 10px;
    font-size: 25px;
    margin-right: 15%;
    /* border:1px solid red; */
    height:30px;
}
#font_icons{
    display:flex;
    
    width:200px;
    height:35px;
/*  
    border:1px solid red; */
    padding-top: 5px;
    border-radius: 2px;
font-size: 22px;
justify-content:space-between;
}
#name_box{
    display:flex;
    justify-content: space-around;
    width:140px;
    height:35px;
    color:rgb(96, 96, 96) ;
    /* background-color: rgb(23,21,68); */
    /* border:1px solid white; */
    border-radius: 2px;
    margin-right: 2%;
    font-weight: 900;
    margin-top: -10px;
}
/* #profile_box{
    width:40px;
    height:40px;
    color: white;
    background-color: rgb(23,21,68);
    border:none;
    border-radius: 50px;

  background-color: rgb(56,215,171);
  color: white;


} */
/* #profile_box > p{
    text-align: center;
  
 padding-right: 10px;

 margin-top: 2px;
 font-weight: 600;
 padding-top: 7px;

} */
.div1class:hover{
opacity: 70%;
}
#video_details{
    /* background-color: white; */
    /* color: white; */
  
    margin-left: 35px;
    width:62%;
    /* border:1px solid white; */
    margin-right: 20px;
}
#containerBox{
    width:100%;
    /* border:1px solid white; */
    margin:auto;
    display:flex;
    background-color:white;
}
#videos_overflow{
    width:34%;
    /* border:1px solid white; */
    height:700px;
    overflow-y: scroll;
}
#mainDiv{
    width:100%;
    height:90px;
    /* border:1px solid white; */
    display:flex;
    margin-bottom: 10px;
 

}
#smallDiv{
    width:35%;
    margin-right: 8px;
    /* border:1px solid white; */
}
#bigDiv{
    width:60%;
    /* border:1px solid white; */
}

